{% extends "base" %}

{% block content %}
    <h1>Hi {{name}}</h1>
    For new posts: <a href="/new_post">/new_post</a>
    <br>
    Your cookie message is: {{ cookie_msg }}

    <p>Try going to <a href="/hello/YourName">/hello/YourName</a></p>
{% endblock content %}